*{
    margin:0;
}
body{
    background-image: url("images/contact4.jpg");
    background-size: cover; 
}
.a1{
    display:flex;
    text-decoration: none;
}
a:hover{
    color: rgb(233, 45, 17);
}
li{
    top: 0;
    float:left;
    border-radius: 5px;
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 500px;
    padding: 12px;  
    border: 1px solid #b1a9a9; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: horizontal
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(180, 173, 173);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    margin-top: 80px;
    margin-left: 100px;
    border-radius: 5px;
    height: 600px;
    width: 1000px;
    background-color:transparent;
    padding: 20px;
  }
  .hh{
    margin-top: 0;
    margin-bottom: 50px;
    background-color: #1589c3;
    border-radius: 50PX;
  }
  
